# Untracked files to ignore/not include in repo. See https://git-scm.com/docs/gitignore

# Script compiler
**/compile.bat
**/nwnnsscomp.exe

# Compiled source code
source/*.ncs

# Installer
**Install.exe